.main {
	width: auto;
	height: 100%;
	padding: 0px 7%;
	background-color: #f5f5f5;
}
.main_bar {
	position: relative;
	width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #fff;
}
.main_b {
	position: absolute;
	width: 100%;
}
.main_b table {
	width: 100%;
}
.main_header {
	top: 20px;
	color: rgb(74, 74, 74);
	font-size: 10px; 
}
.main_header table {
	text-align: center;
}
.main_header input {
	width: 90%;
	border: 1px solid rgb(120, 120, 120);
	border-radius: 3px;
}
.main_content {
	top: 100px;
}
.main_content table {
}
.main_footer {
	bottom: 0px;
	padding: 10px 0px;
	color: rgb(74, 74, 74);
}
.main_footer table {
	text-align: center;
}
.main_footer input {
	border: 1px solid rgb(120, 120, 120);
	border-radius: 3px;
}