.paging {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 95px;
  text-align: center;
}
.container {
  padding: 1rem;
  border-radius: 0.2rem;
  margin: 0px auto;
  counter-reset: pagination;
}
.middle {
  position: relative;
}
.pagefont {
	border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 10px;
    position: relative;
    top: -1px;
}
.pagination strong {
	border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}
.page_b span {
	border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}
.pagination a {
	border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}
.pagination a:hover {
	color: #fdfdfd;
    background-color: #ff8a8a;
    border: solid 1px #ff8a8a;
}
.pagination .active {
	color: #fdfdfd;
    background-color: #ff8a8a;
    border: solid 1px #ff8a8a;
}
.pagination input {
	width: 24px;
    height: 37px;
	margin: 0px 5px;
	padding: 0px 5px;
	border: 1px solid rgba(120, 120, 120, 0.73);
	border-radius: 3px;
	outline: none;
	font-size: 15px;
	text-align: center;
}
.pagination .define {
    border: 1px solid #ff8a8a;
    border-radius: 3px;
    color: #ff8a8a;
    background-color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    transition: 300ms ease-in-out;
    width: 67px;
    font-size: 16px;
}
.pagination .define:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #ff8a8a;
}
.pagination lable {
	font-size: 14px;
}
