.main {
	width: auto;
	height: 100%;
	padding: 0px 7%;
	background-color: #f5f5f5;
}
.main_bar {
	position: relative;
	width: 100%;
    height: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #fff;
}
.search {
	position: absolute;
    width: 20%;
    right: 7%;
    top: 8%;
}
.search .text {
    width: 79%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px 3%;
    background-color: #efefef;
    border: none;
    outline: none;
}
.search .submit {
    position: absolute;
    width: 15%;
    background-color: #ffa2a200;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 6px 0px;
    outline: none;
    z-index: 2;
}
.search .fa-search {
    position: absolute;
    color: #fff;
    background-color: #ff8a8a;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 15%;
    height: 100%;
    text-align: center;
    line-height: 165%;
}
.main_content {
    position: absolute;
    top: 18%;
    padding: 0px 5%;
    width: 86%;
    height: 73%;
    overflow: hidden;
}
.main_content a {
	text-decoration: none;
	color: #000;
}
.main_content table {
	width: 100%;
	text-align: center;
	font-size: 18px;
	border-spacing: 10px;
}
.main_content_td11 {
	width: 10%;
}
.main_content_td11 img {
	width: 50%;
	padding-top: 3px;
    border-radius: 50%;
}
.tr_1 td {
	padding-bottom: 38px;
}
.line {
	position: absolute;
    width: 88%;
    top: 50px;
    left: 8%;
}
.td_1 {
	position: relative;
}
.td_1_d {
    position: absolute;
    top: 0px;
    right: -30px;
    width: 10%;
    height: 100%;
    transition: .3s;
    background-color: #ff8a8a;
}
.td_1_d a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    text-align: center;
    z-index: -1;
    width: 400%;
    letter-spacing: 12px;
    padding-top: 8px;
    transition: .3s;
    font-size: 18px;
    left: 27px;
}
.tr_td td {
	padding: 10px;
}
.selectnone {
	position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 22px;
}